body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}
.vl{
  border-left:3px solid white;
  height: 400px;
  float:right;
  display: inline;
  margin:0;
  margin-left:15px;
}
#benefits{
  list-style-type: none;
  text-align: left;
  padding-left:15px;

}
#core-values{
  list-style-type: none;
  text-align: center;
  padding-left:0px;
  line-height: 2;
}
.footer-button{
  border: 0 !important;
}
#footer-image {
  background-color: transparent;
  display:inline;
  border:0px;
  max-width:20%;
  margin-top: 25px;
  margin-bottom: 20px;
}

#front-image{
  background-color: transparent;
  display:inline;
  border:0px;
  max-width:25%;
  margin-top: 20px;
  margin-bottom:20px;
}

#nav-logo{
  height: 60px;
  width: auto;
  background: transparent;
  border:0px;
  text-align: left;
}


.sub-heading{
  text-align: left;
  margin-bottom: 25px;
}

.apply-button{
  margin-top:50px;
  text-align: right;
  border-radius: 10px !important;
  float:left;
}
.section-content{
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rift, sans-serif;
  font-weight: 500;
  margin: 0 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: normal;
}
p, ul {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0 0 25px;
}

.job-title{
  text-align: left;
  margin-top: 13px;
  margin-bottom:13px;
}

.job-description{
  text-align: left;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom:10px;
  /*background-color: rgba(255,255,255,.1);*/
}


@media (min-width: 768px) {
  p {
    font-size: 1.2rem;
    line-height: 1.4;
	margin: 0 0 2rem
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: rift, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 1.2rem;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700 !important;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  font-weight: 700 !important;
}

#mainNav .navbar-nav .nav-item:hover a:not(.active){
  color: #C8C8C8;
  outline: none;
  background-color: transparent;
}
#career{
  color: white;
  background: url("../img/group-grayV2.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#news{
  color: white;
  padding-bottom: 0px;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
  .head-img{
    width: 100% !important;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  logo: url("../img/fire-logo.png");
  background: url("../img/city-gray5.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 2.75rem;
}

.masthead .intro-body .intro-text {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 2.75rem;
  }
  .masthead .intro-body .intro-text {
    font-size: 1.5rem;
  }
  #footer-image {
    max-width:8%;

  }

}

.btn-circle {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  margin-top: 5%;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
}

.content-section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.about-company-section {
  color: white;
  background-color: black;
  background: url(../img/cargo-gray1.png) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: white;
  border: 1px solid white;
  background-color: transparent;

}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid white;
  outline: none;
  background-color: white;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }

}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer p {
  font-size: 1.2rem;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

iframe{
  height: calc(100vw/2);
  margin-bottom: 50px;
}
.bio-info{
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.head-img{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 45%;
}

.social{
  margin-top: 1.25rem;
}