body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
}
.team-block {
    margin-bottom: 20px;
}
.team-content {
    background-color: rgba(17, 24, 31, 0.8);
    bottom: 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 8px;
}
.team-content>h5{
    margin:5px;
    margin-left:0px;
}
.overlay>.text>h5{
    margin-bottom:5px;
}

.team-img {
    position: relative;
}
.team-img img {
    width: 100%;
}
.team-title { }
.team-meta {
    color: #9da4aa;
    font-weight: 400;
    font-size: 13px;
    margin: 5px;
    margin-left:0px;
}
.overlay {
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #11181f;
}
.team-img:hover .overlay {
    opacity: .8;
}
.team-img:hover .team-content {
    opacity: 0;
}
.text {
    color: #fff;
    position: absolute;
    top: 30%; left: 30%;
    transform: translate(-26%, -26%);
    -ms-transform: translate(-26%, -26%);
    right: 0; font-weight: 400;
    font-size: 16px;
}
.text>p{
    font-size: 12px;
    margin: 5px;
    margin-left:0px;
}